:root {
  --bg-top-header: #162028;
  --color-text-menu: #425564;
  --color-text: #555;
  --color-logo: #acacac;
  --bg-box-detalhe: #003d52;
  --bg-footer: #0b171f;
  --color-text-footer: #6f8597;
  --font-logo: bold 36px/120% "Viaoda Libre", sans-serif;
}